<h1>친구가 신상을 구라쳤어요</h1>
<form action='/friends/<%= @friend.id %>' method='POST'>
    <input type="hidden" name="_method" value="patch">
    <input type='hidden' name='authenticity_token' value=<%= @token %>></input>
    <input name= 'input_name' type= 'text'></input>
    <input name= 'input_gender' type= 'text'></input>
    <input name= 'input_age' type= 'text'></input>
    <input name= 'input_hobby' type= 'text'></input>
    <input type= 'submit'></input>
    <br><a href='/friends'>목록</a>
</form>